{
    "openapi": "3.0.2",
    "info": {
        "title": "Racetrack 2000",
        "description": "A simulated horse racing betting website. Race results are simulated server side and replayed on the client side.",
        "termsOfService": "https://racetrack2000.com/terms",
        "contact": {
            "name": "Racetrack2000 Support",
            "url": "https://racetrack2000.com/support",
            "email": "support@racetrack2000.com"
        },
        "license": {
            "name": "Creative Commons Attribution-NonCommerical-NoDerivs 3.0 Unported",
            "url": "https://creativecommons.org/licenses/by-nc-nd/3.0/legalcode"
        },
        "version": "1.0.1"
    },
    "servers": [
        {
            "url": "https://api.racetrack2000.com/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/horses": {
            "get": {
                "description": "Returns all horses from the system that the user has access to.",
                "responses": {
                    "200": {
                        "description": "A list of horses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Horse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/horses/{horseId}": {
            "get": {
                "description": "Returns horse with specified id, if it can be found in the database.",
                "responses": {
                    "200": {
                        "description": "The horse with the id provided",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Horse" 
                                }
                            }
                        }
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{userId}/horses": {
            "get": {
                "description": "Returns the list of horses owned by the user identified by the Id",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Horse"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "description": "Returns the list of users",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/User"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{userId}": {
            "get": {
                "description": "Returns the user identified by the Id",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User" 
                                }
                            }
                        }
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/races": {
            "get": {
                "description": "Retuns list of all races in the database",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Race"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/races/{raceId}": {
            "get": {
                "description": "Returns the race identified by the id",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Race"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{userId}/races": {
            "get": {
                "description": "Returns the list of races associated with the user id",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Race"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/bets": {

        },
        "/bets/{betId}": {

        },
        "/{userId}/bets": {

        }
    },
    "components": {
        "schemas": {
            "Horse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "guid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "profileImage": {
                        "type": "string",
                        "format": "binary"
                    },
                    "sprites": {
                        "type": "string"
                    },
                    "speed": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "endurance": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "reliability": {
                        "type": "intgeger",
                        "format": "int64"
                    },
                    "ownedBy": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastModifiedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "lastModifiedBy": {
                        "type": "string"
                    }
                }
            },
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "guid"
                    },
                    "username": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "accountBalance": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Bet": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "betType": {
                        "type": "string",
                        "description": "The type of bet made.",
                        "default": "show",
                        "enum": [
                            "show",
                            "place",
                            "win",
                            "quinella",
                            "exacta",
                            "trifecta"
                        ]
                    },
                    "amount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "user": {
                        "type": "string",
                        "format": "guid"
                    },
                    "race": {
                        "type": "string",
                        "format": "guid"
                    },
                    "picks": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "guid"
                        }
                    }
                }
            },
            "Race": {
                "type": "object",
                "required": [
                    "id",
                    "results",
                    "user",
                    "raceDate"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "guid"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "guid"
                        }
                    },
                    "user": {
                        "type": "string",
                        "format": "guid"
                    },
                    "raceDate": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Error": {
                "type": "object",
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}